@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.nunito {
  font-family: "Nunito", sans-serif;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}
